.bg-transparent{
	background-color: transparent;
}

.iblock{
	display: inline-block;
}

.m-05{
	margin:  0.5em 0px;
}

.m-right05{
	margin-right: 0.5em;
}

.m-left05{
	margin-left: 0.5em;
}

.two-fields {
    width: 100%;
}

.two-fields .input-group {
    width: 100%;
}

.two-fields input {
    width: 50% !important;
}

.mensaje{
	width: 100%;
}
.btn-group .check{
	width: 2.4em;
	height: 2.1em;
	background-color: #F95759;
	border: none;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;			
}