.two-fields {
    width: 100%;
}

.two-fields .input-group {
    width: 100%;
}

.two-fields input {
    width: 25% !important;
    height: 2em;
}

.two-fields span {
    width: 25% !important;
    height: 2em;
}
.codigo{
	margin-top: 6em;
}

.resend{
	padding: 0.5em 2em;
	font-size: 1.3em;
	margin: 0.5em 0px;
}
